html {
    background: #c0a154 url("images/Creme_browserbg.jpg");
    }
body {
    font-size: 12pt;
    font-family: "Comic Sans MS", 'Marker Felt', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    line-height: 1.2em;
    position: relative;
   }
#top{
    margin: auto;
    background-color: rgb(244, 244, 220);
    border-radius: 15px 15px 0px 0px;
    width: 650px; height: 60px;
    box-shadow: 10px 10px 5px grey;
    padding: 30px 0px 0px 0px;
    }
#middle{
    margin: auto;
    background-color: rgb(244, 244, 220);
    width: 650px;
    box-shadow: 10px 10px 5px grey;
    padding: 10px 0px 10px 0px;
    }
#bottom{
    margin: auto;
    background-color: rgb(244, 244, 220);
    border-radius: 0px 0px 15px 15px;
    width: 650px; height: 60px;
    box-shadow: 10px 10px 5px grey;
    padding: 10px 0px 0px 0px;
    }
#box{
    margin: 10px 10px 10px 10px;
    background-color: rgba(222, 222, 224, 0.8);
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
#content{
    margin: 0px 20px 0px 20px;
}
#line{
    stroke: grey;
    stroke-width: 2;
    fill: none;
}
h1 {
    font-size: 200%;
    color: maroon;
    font-weight: normal;
    margin-bottom: 0.5em;
   }
h2 {
    font-size: 200%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
   }
h3 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
   }
ul {
    list-style-type: circle;
    color: gray;
    }
a:link, a:visited {
    color: grey;
    text-decoration: none;
    }
a:hover {
    color: dimgrey;
    text-decoration: none;
    }
#photo {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
