html {
    background: #c0a154 url("images/Creme_browserbg.jpg");
    }
body {
    font-size: 12pt;
    font-family: "Comic Sans MS", 'Marker Felt', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    line-height: 1.2em;
   }
#top{
    margin: auto;
    background-color: ivory;
    border-radius: 25px 25px 0px 0px;
    width: 900px; height: 80px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px 0px 0px 0px;
    }
#middle{
    margin: auto;
    background-color: ivory;
    width: 900px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px 0px 10px 0px;
    }
#bottom{
    margin: auto;
    background-color: ivory;
    border-radius: 0px 0px 25px 25px;
    width: 900px; height: 60px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px 0px 0px 0px;
    }
#content{
    margin: 0px 20px 0px 20px;
}
#line{
    stroke: grey;
    stroke-width: 2;
    fill: none;
}
h1 {
    font-size: 300%;
    color: maroon;
    font-weight: bold;
    margin-bottom: 0.5em;
   }
h2 {
    font-size: 200%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
   }
h3 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
   }
#photo {
    box-shadow: 10px 10px 5px #888888;
}
#border {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  /*color: #f2f2f2;*/
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}
