body {
    font-size: 12pt;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: black;
    background-color: dimgrey;
    line-height: 1.2em;
    margin-left: 0px;
    margin-right: 20px;
    }
header {
    /*background-color: white;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;*/
    width: inherit;
    }
section {
    /*background-color: white;*/
    margin-top: -50px;
    /*margin-left: 70px;*/
    padding: 1px 50px 1px 50px;
    width: inherit;
    }
footer {
    font-size: 70%;
    margin-left: 70px;
    padding: 1px 50px 1px 50px;
    width: 700px;
    }
h1 {
    font-size: 250%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.7em;
    margin-bottom: 1.1em;
   }
h2 {
    font-size: 150%;
    color: maroon;
    font-weight: bold;
    margin-top: 1.5em;
    margin-bottom: 1.1em;
   }
div.trip {
    width: 1000px;
    margin: auto;
    background-image: url("images/pinstripe.jpg");
    background-size: 1000px 63px;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 50% 0%;
}
